# 1. to create a dataframe from a dictionary and display it

In [ ]:
import pandas as pd
import numpy as np

details = {
    'Name' : ['Aditya', 'Chhayank', 'Bhargav'],
    'Age' : [18, 17, 18],
    'Enrollment' : [216270307032, 216270307017, 216270307013]
}

print(pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment']))

# 2. to sort the DataFrame first by 'name' in ascending order

In [ ]:
import numpy as np
import pandas as pd

details = {
    'Name' : ['Aditya', 'Chhayank', 'Bhargav'],
    'Age' : [18, 17, 18],
    'Enrollment' : [216270307032, 216270307017, 216270307013]
}

print(pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment']).sort_values(by = ['Name']))

# 3. to delete the one specific column from the DataFrame

In [ ]:
import pandas as pd
import numpy as np

details = {
    'Name' : ['Aditya', 'Chhayank', 'Bhargav'],
    'Age' : [18, 17, 18],
    'Enrollment' : [216270307032, 216270307017, 216270307013]
}

print(pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment']).drop(['Age'], axis = 1))

# 4. to write a DataFrame to CSV file using tab separator

In [ ]:
import pandas as pd
import numpy as np

details = {
    'Name' : ['Aditya', 'Chhayank', 'Bhargav'],
    'Age' : [18, 17, 18],
    'Enrollment' : [216270307032, 216270307017, 216270307013]
}

data_frame = pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment'])

data_frame.to_csv('Details.csv', sep = '\t') # Saving as a CSV file
 
new_data_frame = pd.read_csv('Details.csv') # loading the CSV file
 
print('\nData from Students.csv : \n', new_data_frame)